body {
    padding: 20px;
    background-color: #eceef0;
    color: #050503;
    font-family: 'Roboto', sans-serif;
}

.user-block {
    color: #050503;
    background-color: #ffffff;
    padding-bottom: 10px;
    margin: 5px;
    margin-left: 5%;
    margin-right: 5%;
    border: 1px solid #ffffff;
    border-radius: 10px;
}

.user-block img {
    width: 80px; 
    height: 80px; /* высота картинки, от неё будет зависеть и размер общего блока */
    border-radius: 50%;
    object-fit: cover; /* обрезаем края картинки, если они не вместятся в блок */
    object-position: 0 70; /* тоже обрезка краев */
    margin: 5px;
    float: left; /* важный момент. с помощью этого значения, мы показывем браузеру, что блок должен соприкасаться со вторым блоком приемущественно с левой стороны */
}

.user-block p {
    padding: 6px;
    margin-left: 15px; 
    display: block; 
    font-weight: bold; 
    font-size: 14px; 
    margin: 2px 0 0 0;
}