body {
    padding: 0px;
    margin: 0px;
    background-color: #edeef0;
    color: #050503;
    font-family: 'Roboto', sans-serif;
}

.nav-bar {
    overflow: hidden;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 13px 0px 13px 0px;
    border-bottom: solid 1px #e7e8ec;
}

.search-form {
    text-align: center;
}

.search-form input {
    width: 10%;
    height: 25px;
    padding-left: 10px;
    border: 0px solid #edeef0;
    border-radius: 7px 0px 0px 7px;
    outline: none;
    background: #edeef0;
    color: black;
}

.search-form button {
    position: absolute; 
    width: 30px;
    height: 27px;
    border: none;
    background: #edeef0;
    border-radius: 0 7px 7px 0;
    cursor: pointer;
}

.search-form button:before {
    content: "\f002";
    font-family: FontAwesome;
    font-size: 16px;
    color: #969faa;
}

#data-container {
    margin-top: 70px;
    padding: 0%;
}

.user-block {
    color: #050503;
    background-color: #ffffff;
    padding-bottom: 10px;
    margin: 5px;
    margin-left: 5%;
    margin-right: 5%;
    border: 1px solid #ffffff;
    border-radius: 10px;
}

.user-block img {
    width: 80px; 
    height: 80px; /* высота картинки, от неё будет зависеть и размер общего блока */
    border-radius: 50%;
    object-fit: cover; /* обрезаем края картинки, если они не вместятся в блок */
    object-position: 0 70; /* тоже обрезка краев */
    margin: 5px;
    float: left; /* важный момент. с помощью этого значения, мы показывем браузеру, что блок должен соприкасаться со вторым блоком приемущественно с левой стороны */
}

.user-block p {
    padding: 6px;
    margin-left: 15px; 
    display: block; 
    font-weight: bold; 
    font-size: 14px; 
    margin: 2px 0 0 0;
}